.answer {
    margin-top: 40px;
    font-weight: bold;
    
}

#ibagem {
    height: 150px;
    width: 30%;
}

#dtl {
    display: none;
    margin-top: 40px;
}

ul {
    display: flex;
    flex-direction: column;
}